.card{
    width: 300px;
    height: 400px;
    margin: 20px;
    padding: 4px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
}
.parent{
    display: flex;
    justify-content: center;
    height: 500px;
    background-color: lightskyblue;
}
button{
    color:white;
    background-color: rgb(53, 53, 235);
    height: 30px;
    border-radius: 5px;
    border: none;
}